<!--<h1 class="flex justify-around underLine font-bold">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</h1>
<p>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran
    <span class="underLine text-red-600">A CONTINUACIÓN</span>
</p>-->
<div class="section">
  <div class="container">
      <div class="row">
          <h3 class="underLine font-bold">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</h3>
          <p>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran
              <span class="underLine text-red-600">A CONTINUACIÓN</span>
          </p>
          <div class="col-md-12">
              <div class="row">
                  <div class="tab-pane active">
                      <div class="flex gap-5">
                          <div class="product">
                              <div class="shrink-0 group overflow-hidden">
                                  <a class="relative" href="http://fichaje.ssupotosi.com.bo/ssup_fichaje">
                                      <div class="shop">
                                          <div class="shop-header">
                                              <div class="group-hover:scale-150 transition duration-700 ease-in-out w-[200px] h-[200px]"><img src="./assets/ingreso.png" class="img-responsive"></div>
                                          </div>
                                          <div class="absolute top-0 left-0 w-full h-full z-20 flex items-center justify-center">
                                              <h3 class="letrass text-center" style="color: black;"><b>INGRESO A<br>FICHAJE<br>EN LÍNEA</b></h3>
                                          </div>
                                          <div class="absolute h-full w-full top-0 -left-7 right-0 z-50 bg-red-600"
                                            style="clip-path: polygon(65% 0, 0 0, 0 71%);"></div>
                                          <div class="absolute h-full w-full top-0 -left-14 right-0 z-50 bg-blue-600"
                                            style="clip-path: polygon(0 0, 60% 0, 0 63%, 0 0);"></div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                          <div class="product">
                              <div class="shrink-0 group overflow-hidden">
                                  <a class="relative" href="http://certificaciones.ssupotosi.com.bo/persona/verificar">
                                      <div class="shop">
                                          <div class="shop-header">
                                              <div class="group-hover:scale-150 transition duration-700 ease-in-out w-[200px] h-[200px]"><img src="./assets/afiliaciones.png" class="img-responsive"></div>
                                          </div>
                                          <div class="absolute top-0 left-0 w-full h-full z-20 flex items-center justify-center">
                                              <h3><b><u>CERTIFICADOS</u><br>AFILIACIÓN<br>NO AFILIACIÓN</b></h3>
                                          </div>
                                          <div class="absolute h-full w-full top-0 -left-7 right-0 z-50 bg-red-600/70"
                                            style="clip-path: polygon(65% 0, 0 0, 0 71%);"></div>
                                          <div class="absolute h-full w-full top-0 -left-14 right-0 z-50 bg-blue-600/70"
                                            style="clip-path: polygon(0 0, 60% 0, 0 63%, 0 0);"></div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                          <div class="product">
                              <div class="shrink-0 group overflow-hidden">
                                  <a class="relative" href="http://covid.ssupotosi.com.bo:8081/ssup_covid19/web">
                                      <div class="shop">
                                          <div class="shop-header">
                                              <div class="group-hover:scale-150 transition duration-700 ease-in-out w-[200px] h-[200px]"><img src="./assets/img-cuestionario.png" class="img-responsive"></div>
                                          </div>
                                          <div class="absolute top-0 left-0 w-full h-full z-20 flex items-center justify-center">
                                              <h3><b><u>CUESTIONARIO</u><br>COVID - 19</b></h3>
                                          </div>
                                          <div class="absolute h-full w-full top-0 -left-7 right-0 z-50 bg-red-600/70"
                                            style="clip-path: polygon(65% 0, 0 0, 0 71%);"></div>
                                          <div class="absolute h-full w-full top-0 -left-14 right-0 z-50 bg-blue-600/70"
                                            style="clip-path: polygon(0 0, 60% 0, 0 63%, 0 0);"></div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                          <div class="product">
                              <div class="shrink-0 group overflow-hidden">
                                  <a class="relative" href="./informes/solvencias/solvencia.pdf">
                                      <div class="shop">
                                          <div class="shop-header">
                                              <div class="group-hover:scale-150 transition duration-700 ease-in-out w-[200px] h-[200px]"><img src="./assets/word.png" class="img-responsive"></div>
                                          </div>
                                          <div class="absolute top-0 left-0 w-full h-full z-20 flex items-center justify-center">
                                              <h3><b><u>SOLVENCIAS</u><br>PARA<br>AFILIACIONES</b></h3>
                                          </div>
                                          <div class="absolute h-full w-full top-0 -left-7 right-0 z-50 bg-red-600/70"
                                            style="clip-path: polygon(65% 0, 0 0, 0 71%);"></div>
                                          <div class="absolute h-full w-full top-0 -left-14 right-0 z-50 bg-blue-600/70"
                                            style="clip-path: polygon(0 0, 60% 0, 0 63%, 0 0);"></div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                          <div class="product">
                              <div class="shrink-0 group overflow-hidden">
                                  <a class="relative" href="https://view.genial.ly/5f216cb2c43a880d757fafb0/interactive-content-manual-de-fichaje">
                                      <div class="shop">
                                          <div class="shop-header">
                                              <div class="group-hover:scale-150 transition duration-700 ease-in-out w-[200px] h-[200px]"><img src="./assets/pdf.png" class="img-responsive"></div>
                                          </div>
                                          <div class="absolute top-0 left-0 w-full h-full z-20 flex items-center justify-center">
                                              <h3><b><u>MANUAL</u><br>ATENCIÓN<br>EN LÍNEA</b></h3>
                                          </div>
                                          <div class="absolute h-full w-full top-0 -left-7 right-0 z-50 bg-red-600/70"
                                            style="clip-path: polygon(65% 0, 0 0, 0 71%);"></div>
                                          <div class="absolute h-full w-full top-0 -left-14 right-0 z-50 bg-blue-600/70"
                                            style="clip-path: polygon(0 0, 60% 0, 0 63%, 0 0);"></div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                          <div class="product">
                              <div class="shrink-0 group overflow-hidden">
                                  <a class="relative" href="https://view.genial.ly/5f34b3a4e648820d82f9a33d/interactive-content-tutorial-de-certificados-de-afiliaciones-y-no-afiliaciones">
                                      <div class="shop">
                                          <div class="shop-header">
                                              <div class="group-hover:scale-150 transition duration-700 ease-in-out w-[200px] h-[200px]"><img src="./assets/pdf.png" class="img-responsive"></div>
                                          </div>
                                          <div class="absolute top-0 left-0 w-full h-full z-20 flex items-center justify-center">
                                              <h3><b><u>MANUAL</u><br>CERTIFICACIONES<br>EN LÍNEA</b></h3>
                                          </div>
                                          <div class="absolute h-full w-full top-0 -left-7 right-0 z-50 bg-red-600/70"
                                            style="clip-path: polygon(65% 0, 0 0, 0 71%);"></div>
                                          <div class="absolute h-full w-full top-0 -left-14 right-0 z-50 bg-blue-600/70"
                                            style="clip-path: polygon(0 0, 60% 0, 0 63%, 0 0);"></div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                          <div class="product">
                              <div class="shrink-0 group overflow-hidden">
                                  <a class="relative" href="http://certificaciones.ssupotosi.com.bo/verificar">
                                      <div class="shop">
                                          <div class="shop-header">
                                              <div class="group-hover:scale-150 transition duration-700 ease-in-out w-[200px] h-[200px]"><img src="./assets/pdf.png" class="img-responsive"></div>
                                          </div>
                                          <div class="absolute top-0 left-0 w-full h-full z-20 flex items-center justify-center">
                                              <h3><b><u>MANUAL</u><br>RESERVA<br>DE FICHAS<br>EN LÍNEA</b></h3>
                                          </div>
                                          <div class="absolute h-full w-full top-0 -left-7 right-0 z-50 bg-red-600/70"
                                            style="clip-path: polygon(65% 0, 0 0, 0 71%);"></div>
                                          <div class="absolute h-full w-full top-0 -left-14 right-0 z-50 bg-blue-600/70"
                                            style="clip-path: polygon(0 0, 60% 0, 0 63%, 0 0);"></div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--/SELECTION-->

<div id="about" class="section wow fadeIn">
  <div class="container">
    <div class="heading text-center">
      <h2>Brindando los mejores servicios</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="message-box">
          <h5 class="text-justify">
            Servicio de ambulancia las 24 Hrs. de la semana
            <br>
            Les brindamos los mejores servicios y médicos para su confort con calidad y calidez.
            <br>
            24/7 la formula perfecta al servicio de nuestos asegurados y la población en general.
            <br>
            Las 24 horas y los 7 días de la semana, en caso de necesitarnos llamar al 
          </h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="flex gap-5">
          <div class="shop-item">
            <div class="shop-img w-[200px] h-[200px]">
              <img src="assets/ambulancia.png" class="img-responsive" alt="Ambulancia">
            </div>
          </div>
          <div class="shop-item">
            <div class="shop-img w-[200px] h-[200px]">
              <img src="assets/emergencias.jpg" class="img-responsive" alt="Emergencias">
            </div>
          </div>
          <div class="shop-item">
            <div class="shop-img w-[200px] h-[200px]">
              <img src="assets/medicina_gral.jpg" class="img-responsive" alt="Medicina General">
            </div>
          </div>
          <div class="shop-item">
            <div class="shop-img w-[200px] h-[200px]">
              <img src="assets/ecografia.jpg" class="img-responsive" alt="Ecografía">
            </div>
          </div>
          <div class="shop-item">
            <div class="shop-img w-[200px] h-[200px]">
              <img src="assets/laboratorio.jpg" class="img-responsive" alt="Laboratorio">
            </div>
          </div>
          <div class="shop-item">
            <a href="http://covid.ssupotosi.com.bo/ssup_covid19/web">
              <div class="shop-img w-[200px] h-[200px]">
                <img src="assets/farmacia.jpg" class="img-responsive" alt="Farmacia">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="authorities-section ">
      <h4><b><u>AUTORIDADES</u></b></h4>
      <a href="./organigrama.html">
        <h5 class="authorities-link">
          <div id="top-header" class="bg-body-tertiary" >
          Conosca a nuestras autoridades ingresando al enlace &nbsp;<i class="fa fa-hand-o-right" aria-hidden="true" style="font-size: 25px;"></i>
          </div>
        </h5>
      </a>
    </div>
  </div>
</div>
<!--End Servicios-->
<div id="doctorsgrales" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;" data-scroll-id="doctorsgrales" tabindex="-1">
  <div class="container">
    <h2 class="heading">
      <span class="icon-logo" style="color: navy;"><i class="fas fa-user-md"></i></span>
      Contamos con médicos especialistas preparados al servicio de la sociedad
    </h2>
    <div class="flex gap-5">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
        <div class="doctor-box navy-border w-[200px] h-[200px]">
          <img src="assets/jerson_arancibia.jpg" alt="" class="img-responsive img-rounded">
          <div class="widget-title">
            <h5>JERSON ARANCIBIA</h5>
            <p>GESTOR DE CALIDAD</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
        <div class="doctor-box crimson-border w-[200px] h-[200px]">
          <img src="assets/elena_bravo.jpg" alt="" class="img-responsive img-rounded">
          <div class="widget-title">
            <h5>ELENA BRAVO</h5>
            <p>MÉDICO GENERAL EST.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
        <div class="doctor-box crimson-border w-[200px] h-[200px]">
          <img src="assets/grinez_rocio.jpg" alt="" class="img-responsive img-rounded">
          <div class="widget-title">
            <h5>GRINEZ ROCIO</h5>
            <p>MÉDICO CENTINELA</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
        <div class="doctor-box crimson-border w-[200px] h-[200px]">
          <img src="assets/melva_magne.jpg" alt="" class="img-responsive img-rounded">
          <div class="widget-title">
            <h5>MELVA MAGNE</h5>
            <p>REGENTE DE FARMACIA</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
        <div class="doctor-box navy-border w-[200px] h-[200px]">
          <img src="assets/alfredo_acha.jpeg" alt="" class="img-responsive img-rounded">
          <div class="widget-title">
            <h5>ALFREDO ACHA</h5>
            <p>MÉDICO GENERAL</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
        <div class="doctor-box navy-border w-[200px] h-[200px]">
          <img src="assets/erick_lennis.png" alt="" class="img-responsive img-rounded">
          <div class="widget-title">
            <h5>ERICK LENNIS</h5>
            <p>MÉDICO PEDIATRA</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
        <div class="doctor-box navy-border w-[200px] h-[200px]">
          <img src="assets/oscar_lafuente.png" alt="" class="img-responsive img-rounded">
          <div class="widget-title">
            <h5>OSCAR LA FUENTE</h5>
            <p>MÉDICO GENERAL</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end container -->
<div class="row">
  <div class="tab-pane active">
    <div class="flex gap-5" data-nav="#slick-nav-1">
      <div class="slick-item">
        <div class="shop">
          <div class="shop-img"><img src="assets/pediatria.jpg" class="img-responsive"></div>
          <div class="shop-body">
            <h3><b>PEDIATRÍA</b></h3>
          </div>
        </div>
      </div>
      <div class="slick-item">
        <div class="shop">
          <div class="shop-img"><img src="assets/emergencias.jpg" class="img-responsive" style="width: 100%;"></div>
          <div class="shop-body">
            <h3><b>EMERGENCIAS</b></h3>
          </div>
        </div>
      </div>
      <div class="slick-item">
        <div class="shop">
          <div class="shop-img"><img src="assets/medicina_gral.jpg" class="img-responsive" style="width: 100%;"></div>
          <div class="shop-body">
            <h3><b>CONSULTA GENERAL</b></h3>
          </div>
        </div>
      </div>
      <div class="slick-item">
        <div class="shop">
          <div class="shop-img"><img src="assets/ecografia.jpg" class="img-responsive" style="width: 100%;"></div>
          <div class="shop-body">
            <h3><b>ECOGRAFÍA</b></h3>
          </div>
        </div>
      </div>
      <div class="slick-item">
        <div class="shop">
          <div class="shop-img"><img src="assets/laboratorio.jpg" class="img-responsive" style="width: 100%;"></div>
          <div class="shop-body">
            <h3 style="color: gray;"><b>LABORATORIO</b></h3>
          </div>
        </div>
      </div>
      <div class="slick-item">
        <div class="shop">
          <a href="http://covid.ssupotosi.com.bo/ssup_covid19/web">
            <div class="shop-img"><img src="assets/farmacia.jpg" class="img-responsive" style="width: 100%;"></div>
            <div class="shop-body">
              <h3 style="color: gray;"><b>FARMACIA</b></h3>
            </div>
          </a>
        </div>
      </div>
      <div class="slick-item">
        <div class="shop">
          <div class="shop-body">
            <h3 style="color: gray;"><b>RADIOGRAFÍA</b></h3>
          </div>
        </div>
      </div>
      <div class="slick-item">
        <div class="shop">
          <a href="http://covid.ssupotosi.com.bo/ssup_covid19/web">
            <div class="shop-img"><img src="assets/laboratorio.jpg" class="img-responsive" style="width: 100%;"></div>
            <div class="shop-body">
              <h3 style="color: gray;"><b>CUESTIONARIO<br>COVID 19</b></h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<footer id="footer">
  <div class="sectiona">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="footer">
            <h3 class="footer-title">Acerca de Nosotros</h3>
            <ul class="footer-links">
              <li><a href="https://www.google.com/maps/place/Seguro+Social+Universitario/@-19.5813492,-65.7571323,323m/data=!3m1!1e3!4m5!3m4!1s0x93f94e745a281e21:0x65a0aa91a7c4e815!8m2!3d-19.5812642!4d-65.7570912" target="_blank"><i class="fa fa-map-marker"></i>Dirección: Calama  Nº. 107</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>Teléfono: +591-2-6223227</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>Informaciones - Fichaje: +591-2-6223597</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>Emergencias - Clinica: +591-2-6224161</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>segurosocialuniversitario<br>ssupotosi.com.bo</a></li>
            </ul>
          </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Servicios</h3>
            <ul class="footer-links">
              <li><a href="./consulta_externa.html">Consulta Externa</a></li>
              <li><a href="#">Laboratorio Clínico</a></li>
              <li><a href="#">Imagenología</a></li>
              <li><a href="#">Enfermería</a></li>
              <li><a href="#">Farmacia</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">&nbsp;</h3>
            <ul class="footer-links">
              <li><a href="#">Fisioterapia</a></li>
              <li><a href="#">Ecografía</a></li>
              <li><a href="#">Internación Clínica y Quirúrgica</a></li>
              <li><a href="#">Afiliaciones</a></li>
              <li><a href="http://fichaje.ssupotosi.com.bo"><b>Fichaje En Linea</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom-footer" class="section">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <span class="copyright text-center">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados - Seguro Social Universitario Potosí<br>
            <i class="fa fa-university" aria-hidden="true"></i> <a href="#" target="_blank" style="color: white;">S.S.U.P.</a>
            <br>Desarrollado por Ing. Hernán Flores Ramírez.
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>